<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha alterada</title>

    <style>
        .bar {
            background-color: #149fc9;
            width: 600px;
            height: 60px;
            margin: auto;

        }

        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }

        .text {
            text-align: center;
            margin-top: 60px;
        }

        p {
            margin-bottom: 28px;
        }
    </style>

</head>

<body>

    <div class="bar"></div>

    <img class="logo" src="" alt="logo">

    <div class="text">

        <p style="color: #333333; font-size: 30px;"><b>Sua senha foi alterada.</b></p>
        <p>A senha da sua conta acaba de ser alterada.</p>
        <p>Se você não fez essa alteração redefina sua senha imediatamente através do aplicativo.</p>
        <p style="font-size: 14px;">
            Contato: <a target="_blank" href="mailto:your@mail.com"
                style="font-size: 14px; color: #666666;">contato@contato.com</a></p>
    </div>

</body>

</html>